@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');


.demo-head{
    text-align: center;
    margin:  10px 0;
    height: 40vh;
    background-color: black;
    color: white;
    padding: 5% 0;
}

#a111{
    font-size: 5.2vw;

}

#a222{
    font-size: 3.2vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin: 0 2%;
    /* font-style: italic; */
}

.demo-head-2{
    color: black;
    font-size: 6.8vh;
    margin: 2% 0;
    margin-left: -65%;
}

.profile-card{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 3% 0;
    
}

.aaa{
    margin: 2% 0px;
    border-width: 3px;
    border-color: rgb(48, 188, 188);
    border-radius: 10px;
}

.stockstable{
    width: 80%;
    height: auto;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
}

.Signupform{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8% 4%;
}

@media screen and (max-width: 820px) {
    .demo-head{
        padding: 14% 0;
    }
    #a111{
        font-size: 5vh;
    }
    #a222{
        font-size: 2.4vh;
    }
    .demo-head-2{
        font-size: 4vh;
        padding-left: 28%;
        /* margin: 20px 0px; */
        /* margin-left: 0%; */
    }
    .profile-card{
        padding: 5% 0;
        /* margin: 0 4%; */
    }
    .Signupform{
        margin: 22% 14%;
    }
}